<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wiki.acgcsbox.mapper.WebsiteSiteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="wiki.acgcsbox.model.po.WebsiteSite">
        <id column="site_id" property="siteId" />
        <result column="menu_id" property="menuId" />
        <result column="user_id" property="userId" />
        <result column="site_name" property="siteName" />
        <result column="site_logo_path" property="siteLogoPath" />
        <result column="site_description" property="siteDescription" />
        <result column="site_url" property="siteUrl" />
        <result column="click_count" property="clickCount" />
        <result column="order_num" property="orderNum" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="delete_status" property="deleteStatus" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        site_id, menu_id, user_id, site_name, site_logo_path, site_description, site_url, click_count, order_num, create_time, update_time, create_by, update_by, delete_status, status
    </sql>

</mapper>
